<div class="contact">
    <div class="main-head-section">

        <h3>contact</h3>

        <div class="contact-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d424396.3176723366!2d150.92243255000002!3d-33.7969235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney+NSW%2C+Australia!5e0!3m2!1sen!2sin!4v1431587453420"
                width="100%" height="151px" frameborder="0" style="border:0"></iframe>
        </div>
    </div>

    <div class="contact_top">

        <div class="col-md-8 contact_left">
            <h4>Contact Form</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt dolor et tristique
                bibendum. Aenean sollicitudin vitae dolor ut posuere.</p>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
                <div class="form_details">
                    <input type="text" class="text" placeholder="Name" formControlName="name" required>
                    <div *ngIf="name?.invalid && (name.dirty || name.touched)" class="error">
                        <div *ngIf="name.errors">
                          Name is required.
                        </div>
                      </div>
                    <input type="text" class="text" placeholder="Email" formControlName="email" required>
                    <div *ngIf="email?.invalid && (email.dirty || email.touched)" class="error">
                        <div *ngIf="email.errors">
                          Email is required.
                        </div>
                      </div>
                    <input type="text" class="text" placeholder="Subject" formControlName="subject" required>
                    <div *ngIf="subject?.invalid && (subject.dirty || subject.touched)" class="error">
                        <div *ngIf="subject.errors">
                          Subject is required.
                        </div>
                      </div>
                    <textarea placeholder="Message" formControlName="message" required>Message</textarea>
                    <div *ngIf="message?.invalid && (message.dirty || message.touched)" class="error">
                        <div *ngIf="message.errors">
                          Message is required.
                        </div>
                      </div>
                    <div class="clearfix"> </div>
                    <div class="sub-button">
                        <input type="submit" [disabled]="!contactForm.valid" value="Send message">
                    </div>
                </div>
            </form>
            <div [hidden]="!submitted" class="contact-message">
                <div class="contact-success">
                  <h2 class="text-success">Success!</h2>
                  <h4 class="text-success">Contact form has been successfully submitted.</h4>
                  <br />
                  <button (click)="gotoHome()" class="btn btn-info">Go to Home</button>
                </div>
              </div>
        </div>
        
        <div class="col-md-4 company-right">
            <div class="company_ad">
                <h3>Contact Info</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit velit justo.</span>
                <address>
                    <p>email:<a href="#">info@display.com</a></p>
                    <p>phone: 1.306.222.4545</p>
                    <p>222 2nd Ave South</p>
                    <p>Saskabush, SK S7M 1T6</p>

                </address>
            </div>

        </div>
        <div class="clearfix"> </div>

    </div>
</div>