<div class="grid_1 text-center">
    <h3 class="m_3">Our Core Services</h3>

    <div class="col-md-4 box_1">
      <i class="icon1"> </i>
      <h3>Web Design</h3>
      <p>Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. Integer lacinia
        sollicitudin massa. Cras metus Morbi in dui quis est pulvinar</p>
    </div>
    <div class="col-md-4 box_1">
      <i class="icon2"> </i>
      <h3>Web Development</h3>
      <p>Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. Integer lacinia
        sollicitudin massa. Cras metus Morbi in dui quis est pulvinar</p>
    </div>
    <div class="col-md-4 box_1">
      <i class="icon3"> </i>
      <h3>Simple and Clean</h3>
      <p>Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. Integer lacinia
        sollicitudin massa. Cras metus Morbi in dui quis est pulvinar</p>
    </div>
    <div class="clearfix"> </div>


    <div class="col-md-4 box_1">
      <i class="icon4"> </i>
      <h3>High Quality</h3>
      <p>Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. Integer lacinia
        sollicitudin massa. Cras metus Morbi in dui quis est pulvinar</p>
    </div>
    <div class="col-md-4 box_1">
      <i class="icon5"> </i>
      <h3>Responsive Design</h3>
      <p>Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. Integer lacinia
        sollicitudin massa. Cras metus Morbi in dui quis est pulvinar</p>
    </div>
    <div class="col-md-4 box_1">
      <i class="icon6"> </i>
      <h3>Easy to Customize</h3>
      <p>Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. Integer lacinia
        sollicitudin massa. Cras metus Morbi in dui quis est pulvinar</p>
    </div>
    <div class="clearfix"> </div>

  </div>