<ng-container *ngIf="recentBlogs && recentBlogs.length">
  <div class="b-search">
    <form>
      <input
        type="text"
        value="Search"
        onfocus="this.value = '';"
        onblur="if (this.value == '') {this.value = 'Search';}"
      />
      <input type="submit" value="" />
    </form>
  </div>
  <h3>Recent Posts</h3>
  <div class="blo-top">
    <div class="blog-grids" *ngFor="let recentBlog of recentBlogs">
      <div class="blog-grid-left">
        <a [routerLink]="['blog', recentBlog.id]"
          ><img
            src="{{ recentBlog.image }}"
            class="img-responsive"
            alt="{{ recentBlog.title }}"
            style="height: 57px"
        /></a>
      </div>
      <div class="blog-grid-right">
        <h4>
          <a [routerLink]="['blog', recentBlog.id]">{{ recentBlog.title }} </a>
        </h4>
        <p>{{ recentBlog.description }}</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</ng-container>
