<div class="service-top">
  <h3 class="m_3">Services</h3>
  <div class="service_grid1">
    <div class="col-md-6 ser-vd">
      <iframe width="100%" height="350" src="https://www.youtube.com/embed/3gKF5XrFStI" frameborder="0"
        allowfullscreen=""></iframe>
    </div>
    <div class="col-md-6 service_grid1-right">
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a passages of Lorem Ipsum available,
        but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
        even slightly Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
        words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
        discovered the undoubtable source. </p>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
        passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
        or randomised words which don't look even slightly in some form, by injected humour, or randomised words which
        don't look even slightly believable</p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <!-- our-core-services -->
    <app-our-core-services></app-our-core-services>
  <!-- our-core-services -->
</div>
