<ng-container *ngIf="service; else errorMessage">
  <div class="service-top" *ngIf="service">
    <h3 class="m_3">{{service?.title}}</h3>
    <div class="service_grid1">
      <div class="col-md-6 ser-vd">
        <iframe width="100%" height="350" src="https://www.youtube.com/watch?v=xjuoBGIiXsM" frameborder="0"
          allowfullscreen=""></iframe>
      </div>
      <div class="col-md-6 service_grid1-right">
        <p>{{service?.description}}</p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!-- our-core-services -->
      <app-our-core-services></app-our-core-services>
    <!-- our-core-services -->
  </div>
</ng-container>
<ng-template #errorMessage>
  <div class="service-error" *ngIf="error">
    <h3>{{ error.errorTitle }}</h3>
    <p>{{ error.errorDesc }}</p>
    <a class="b-home" routerLink="/">Back to Home</a>
  </div>
</ng-template>
