<div class="twitter-weights">
  <h3>Tweet Widget</h3>
  <div class="twitter-weight-grid">
    <h4><span> </span>John Doe</h4>
    <p>Lorem ipsum dolor sit amet, consectetur elit,labore et dolore magna aliqua. <a href="#">http://t.co/h12k</a></p>
    <i><a href="#">2 days ago</a></i>
  </div>
  <div class="twitter-weight-grid">
    <h4><span> </span>John Doe</h4>
    <p>Lorem ipsum dolor sit amet, consectetur elit,labore et dolore magna aliqua. <a href="#">http://t.co/h12k</a></p>
    <i><a href="#">2 days ago</a></i>
  </div>
  <a class="twittbtn" href="#">See all Tweets</a>
</div>
