<div class="testimonial">

  <h3>Our Testimonials</h3>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
    alteration in some form, by injected humour, or randomised words which don't look even slightly
    believable. If you are going to use a passage of Lorem Ipsum</p>
  <ul class="test_icon">
    <li><a href="#"><img src="assets/images/1.jpg" class="img-responsive"></a></li>
    <li><a href="#"><img src="assets/images/2.jpg" class="img-responsive"></a></li>
    <li><a href="#"><img src="assets/images/3.jpg" class="img-responsive"></a></li>
    <li><a href="#"><img src="assets/images/4.jpg" class="img-responsive"></a></li>
    <li><a href="#"><img src="assets/images/5.jpg" class="img-responsive"></a></li>
    <div class="clearfix"> </div>
  </ul>

</div>