<div class="b-tag-weight">
    <h3>Tags Weight</h3>
    <ul>
      <li><a href="#">Lorem</a></li>
      <li><a href="#">consectetur</a></li>
      <li><a href="#">dolore</a></li>
      <li><a href="#">aliqua</a></li>
      <li><a href="#">sit amet</a></li>
      <li><a href="#">ipsum</a></li>
      <li><a href="#">Lorem</a></li>
      <li><a href="#">consectetur</a></li>
      <li><a href="#">dolore</a></li>
      <li><a href="#">aliqua</a></li>
      <li><a href="#">sit amet</a></li>
      <li><a href="#">ipsum</a></li>
    </ul>
  </div>