<div class="team_grid">
  <h3 class="m_1">{{heading}}</h3>
  <div class="span_3">
    <div class="col-md-6 ab-top" *ngFor="let ourTeam of ourTeams">
      <ul class="span_2">
        <li class="span_2-left"><img [src]="ourTeam.image" class="img-responsive" alt="{{ourTeam.title}}"></li>
        <li class="span_2-right">
          <h3>{{ourTeam.title}}</h3>

          <p>{{ourTeam.description}}</p>
        </li>
        <div class="clearfix"> </div>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
