<ng-container *ngIf="categories && categories.length">
  <h3>Categories</h3>
  <div class="blo-top">
    <li *ngFor="let category of categories"><a routerLink="/">|| {{category.category_name}}</a></li>
  </div>
  <h3>Newsletter</h3>
  <div class="blo-top">
    <div class="name">
      <form>
        <input type="text" placeholder="email" required="">
      </form>
    </div>
    <div class="button">
      <form>
        <input type="submit" value="Subscribe">
      </form>
    </div>
    <div class="clearfix"> </div>
  </div>
</ng-container>
