<div class="login-page">
  <div class="account_grid">
    <div class="col-md-12 login-right wow fadeInRight" data-wow-delay="0.4s">
      <h3>{{pageTitle}}</h3>
      <div *ngIf="message" class="contact-message">
        <div class="contact-success">
          <h2 [ngClass]="[success ? 'success-color' : 'error-color']">{{success ? 'Success!' : 'Error!'}}</h2>
          <h4 [ngClass]="[success ? 'success-color' : 'error-color']">{{message}}</h4>
        </div>
      </div>
      <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <span class="col-md-3 text-center" style="font-size: 1.1em;">Title<label>*</label></span>
          <div class="col-md-9">
            <input type="text" formControlName="title" placeholder="Enter Title">
            <div *ngIf="submitted && form_controls.title.errors" class="error-color">
              <div *ngIf="form_controls.title.errors.required"> Title is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <span class="col-md-3 text-center" style="font-size: 1.1em;">Category<label>*</label></span>
          <div class="col-md-9" *ngIf="categories">
            <select formControlName="category_id">
            <option [ngValue]="" [selected]="true">Choose Category</option>
              <option *ngFor="let category of categories" [value]="category.id">
                  {{category.category_name}}
              </option>
            </select>
            <div *ngIf="submitted && form_controls.category.errors" class="error-color">
              <div *ngIf="form_controls.category.errors.required"> Category is required</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <span class="col-md-3 text-center" style="font-size: 1.1em;">Is Featured</span>
          <div class="col-md-9">
            <input type="radio" formControlName="is_featured" [value]="1" checked="checked" /> Yes
            <input type="radio" formControlName="is_featured" [value]="0" /> No
          </div>
        </div>
        <div class="form-row">
          <span class="col-md-3 text-center" style="font-size: 1.1em;">Is Active</span>
          <div class="col-md-9">
            <input type="radio" formControlName="is_active" [value]="1" /> Yes
            <input type="radio" formControlName="is_active" [value]="0" /> No
          </div>
        </div>
        <div class="form-row">
            <span class="col-md-3 text-center" style="font-size: 1.1em;">Upload Image<label></label></span>
            <div class="col-md-9">
              <input type="file" id="image"  (change)="onSelectedFile($event)"/>
              <input type="hidden" name="fileHidden" formControlName="image"/>
              <div [innerHTML]="uploadError" class="error"></div>
              <div *ngIf="imagePath">
                <br />
                <img [src]="imagePath" width="100px">
              </div>
            </div>
          </div>
          <div class="form-row">
            <span class="col-md-3 text-center" style="font-size: 1.1em;">Description<label></label></span>
            <div class="col-md-9">
              <textarea placeholder="Enter Description" formControlName="description" style="background-color: transparent; width: 96%;" rows="10"></textarea>
            </div>
          </div>
        <div class="form-row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <input type="submit" value="Submit">
            </div>
        </div>
      </form>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
